$errorColor: red;
$termsTextColor: #fff;

$primaryColor: #fff;
$secondaryColor: #26b7ff;
$accentColor: #ff2626;
$backgroundColor: #000;
// Font
$primaryFont: 'PlacardMT-Condensed';
$secondaryFont: 'FuturaStd-CondensedBold';
$buttonFont: 'Good-Times';
$whiteText: #fff;
$formlabelColor: $primaryColor;

// Amazon Web Server File Path
$bucket: "RD-Spider-Man-Sweepstakes/";
$aws: "https://s3.amazonaws.com/myfangate.com/";



html, body{
  min-height: 100%;
  margin: 0px; // Remove the margin around the body
  overflow-x: hidden;
  font-family: $primaryFont;
  color: $backgroundColor;
}
body {
  background-image: url($aws+$bucket+'background.png'); /* Old browsers */
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: scroll;
  background-position: top center;
  background-color: #000;
}
#header {
  // margin-top: 20px;
}

#contest, #age-gate, #word-gate{
  label {
    font-family: $secondaryFont;
    text-transform: uppercase;
    color: $whiteText;
    a {
      color: $whiteText;
    }
  }
  label.error.valid {
    display: none !important;
  }
  .error {
    color: $errorColor;
  }
  a {
    color: $primaryColor;
  }
  .disc {
    color: $primaryColor;
    font-family: $secondaryFont;
  }
}


.again-button {
  margin-bottom: 22px;
}

.form-control:focus {
  -webkit-appearance: none;
  -webkit-box-shadow: -1px -1px 13px 2px $accentColor;
  -moz-box-shadow: -1px -1px 13px 2px $accentColor;
  box-shadow: -1px -1px 13px 2px $accentColor;

}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid $accentColor;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.error {
  color: $errorColor;
}

#thankyou {
  font-family: $primaryFont;
  text-transform: uppercase;
  h2 { color: $secondaryColor; }
  p { color: $whiteText; }
}

.disney-button, .disney-submit, .enter-button, .again-button, .gate-btn, .word-gate-btn {
  font-family: $buttonFont;
  font-size: 24px;
  border-radius: 0.5em;
  padding: 0 0.5em;
  margin: 1em 0;
  text-transform: uppercase;
  background-color: transparent;
  color: $accentColor;
  border: 4px solid $accentColor;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(255,38,38,0.78);
  -moz-box-shadow: 0px 0px 50px 0px rgba(255,38,38,0.78);
  box-shadow: 0px 0px 50px 0px rgba(255,38,38,0.78);
}
.disney-button:focus, .disney-submit:focus, .enter-button:focus, .again-button:focus, .gate-btn:focus, .word-gate-btn:focus {
  outline: none;
}

.gate-form {
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
  @extend .col-sm-8;
  @extend .col-sm-offset-2;
}

.details-image {
  @extend .col-xs-10;
  @extend .col-xs-offset-1;
}

.gate-form, #details  {
  position: relative;
  top: -30px;
}



// finished
#legal {
  font-family: $secondaryFont;
  text-align: center;
}

.end-date-text {
  color: $primaryColor;
  font-size: 17px;
}

.terms-text {
  color: $primaryColor !important;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  a {
    color: $primaryColor !important;
    text-decoration: underline !important;
  }
}

.copyright-text, .legal-text {
  color: rgba(119, 119, 119, 0.75);
  font-size: 9px;
  margin: 1.5em 0;
}
