<div class="row contesting" style="top: -25px; position: relative;">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2">
    <iframe name="hidden_iframe" id="hidden_iframe"></iframe>
  </div>
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 padding-top">
    <form id="contest" role="form" action="https://docs.google.com/forms/d/e/1FAIpQLSdcTstzj4QwNEWPolZz1QFJQOxz9e5g3NtWYsv7k_eQuMZIYw/formResponse" method="POST" target="hidden_iframe">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" name="entry.1862104037" value="" class="form-control" id="entry_1862104037" dir="auto" aria-label="First Name  " title="" required>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" name="entry.2059930985" value="" class="form-control" id="entry_2059930985" dir="auto" aria-label="Last Name  " title="" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail Address</label>
        <input type="text" name="entry.322932457" value="" class="form-control" id="entry_322932457" dir="auto" aria-label="Email  " title="" required>
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="text" name="entry.328909515" value="" class="form-control datepicker" id="entry_328909515" dir="auto" aria-label="Birthday  " title="" required data-field="date" readonly>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number (Optional)*</label>
        <input type="text" name="entry.1685083969" value="" class="form-control" id="entry_1685083969" dir="auto" aria-label="Phone  " title="">
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <p class="terms-text">By entering I acknowledge that I have read, understand and agree to the <a href="http://www.radiodisneyapp.com/rules" target="_blank">Official Rules</a> and the <a href="https://disneytermsofuse.com/" target="_blank">Terms of Use</a>.</p>
        </div>
      </div>
      <div class="text-center padding-top disc" style="position: relative; z-index: 9999999;">
        <p class="terms-text">*Phone numbers are optional and will only be used to contact the winner. Entering a phone number does not increase the chances of winning.</p>
      </div>
      <div class="submit-wrap text-center">
        <button type="submit" class="disney-submit enter-button"></button>
      </div>
    </form>
  </div>
  <br>

  <%= partial 'partials/terms' %>

</div>
