<div id="copyright" class="col-xs-12">
  <div>MARVEL and all related character names: © & ™ 2017 MARVEL.</div>
  <div>Spider-Man: Homecoming, the Movie ©2017 CPII.</div>
  <div>All Rights Reserved.</div>
</div>
