<div id="gate">

  <%= partial 'partials/header' %>

  <div class="gate-form">
    <form id="word-gate" role="form">
      <div class="text-center">
        <label for="word-gate">Please enter the code word:</label>
        <input id="code-word" type="text" name="word-gate" value="" class="form-control" dir="auto">
      </div>
      <div class="text-center">
        <button type="submit" class="disney-button">NEXT</button>
      </div>

      <%= partial 'partials/terms' %>

    </form>
  </div>


  <div class="gate-form hidden">
    <form id="age-gate" role="form">
      <div class="text-center">
        <label for="birthday">What is your birthday?</label>
        <input id="birthday-input" placeholder="MM/DD/YYYY" type="text" name="birthday" value="" class="form-control datepicker text-center" id="entry_328909515" dir="auto" aria-label="Birthday" title="" required data-field="date" readonly>
      </div>
      <div class="text-center">
        <button type="submit" class="disney-button">GO</button>
      </div>

      <%= partial 'partials/terms' %>

    </form>
  </div>
</div>
