<div id="terms" class="col-xs-12" style="margin-bottom: 20px;">
  <div class="row" style="padding-top: 10px;">
    <div class="col-xs-12">
      <h4>Unlimited Entries Through June 15, 2017</h4>
    </div>
    <div class="col-xs-12 text-center copyright-text" style="padding-top: 10px; margin-bottom: 10px;">
      <div>No Purchase Necessary. Many Enter/1Win. Runs 6/3-6/15/16. Ages 13 and over;</div>
      <div>US/DC only. Rules/Odds: RadioDisneyApp.com/rules</div>
    </div>
    <div class="col-xs-12">
      <a class="terms-text" href="http://www.radiodisneyapp.com/rules" target="_blank">Official Rules</a>
      |
      <a class="terms-text" href="https://disneyprivacycenter.com" target="_blank">Privacy Policy</a>
    </div>
    <div class="col-xs-12">
      <a class="terms-text" href="https://disneyprivacycenter.com/notice-to-california-residents/" target="_blank">Your California Privacy Rights</a>
      |
      <a class="terms-text" href="https://disneyprivacycenter.com/kids-privacy-policy/english/" target="_blank">Children's Online Privacy Policy</a>
    </div>
  </div>

  <%= partial 'partials/copyright' %>

</div>
