<div id="terms" class="col-xs-12" style="margin-bottom: 20px;">
  <div class="row" style="padding-top: 10px;">
    <div class="col-xs-12">
      <h4>Unlimited Entries Through MAY 24, 2017</h4>
    </div>
    <div class="col-xs-12">
      <a class="terms-text" href="http://www.radiodisneyapp.com/rules" target="_blank">Official Rules</a>
    </div>
    <div class="col-xs-12">
      <a class="terms-text" href="https://disneyprivacycenter.com" target="_blank">Privacy Policy</a>
    </div>
    <div class="col-xs-12">
      <a class="terms-text" href="https://disneyprivacycenter.com/notice-to-california-residents/" target="_blank">Your California Privacy Rights</a>
    </div>
    <div class="col-xs-12">
      <a class="terms-text" href="https://disneyprivacycenter.com/kids-privacy-policy/english/" target="_blank">Children's Online Privacy Policy</a>
    </div>
  </div>
</div>
